body {
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    font-family: 'Yomogi', cursive;
    font-size: 36px;
    justify-content: space-between;
    margin: 0 20%;
    min-height: 100%;
    text-align: center;
}

button {
    background-color: #ffd369;
    font-family: 'Yomogi', cursive;
    font-size: 30px;
    font-weight: 900;
    height: 80px;
    transition: all 0.1s ease-in-out;
    width: 200px;
}

button:hover:enabled {
    color: red;
    box-shadow: 0 0 36px rgba(255, 211, 105, 0.5);
}

button:disabled {
    background-color: #393E46;
    color: #EEEEEE;
}

#buttons-container {
    display: flex;
    justify-content: space-evenly;
}

h1 {
    color: #FFD369;
    font-family: 'Rubik Dirt', cursive;
    font-size: 80px;
    margin: 60px 0 0 0;
}

html {
    height: 100%;
    width: 100%;
}

img {
    height: 20vh;
}

#play-btn {
    font-size: 30px;
    height: 80px;
    width: 200px;
}

#gfx-play-container {
    align-items: center;
    display: flex;
    justify-content:space-between;
}

#scores-container {
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
}

#winner {
    margin: 0 0 60px 0;
}