body {
    background-color: #222831;
    color: #EEEEEE;
}

button:disabled {
    background-color: #393E46;
    color: #EEEEEE;
}

button {
    background-color: #FFD369;
}

h1 {
    color: #FFD369;
    font-family: 'Rubik Dirt', cursive;
}